/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-size: 1em;
    line-height: 1.4;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #b3d4fc;
    text-shadow: none;
}
/*
 * A better looking default horizontal rule
 */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}
/*
 * Remove default fieldset styles.
 */
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
/*
 * Allow only vertical resizing of textareas.
 */
textarea {
    resize: vertical;
}
/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
    height: 100%;
    user-select: none;
    font-family: Helvetica, Arial, sans-serif;
}
.topnav input[type=text] {
    padding: 2px;
    border: 1px solid white;
    border-radius: 20px;
    font-size: 15px;
    padding-left: 10px;
    outline: none;
}
.topnav-search {
    margin: auto;
}
.topnav {
    background-color: #0c0c0c;
    display: flex;
    height: 5%;
}
.topnav-menu {
    display: flex;
    align-items: center;
    font-size: 40px;

}
.topnav-dots {
    align-items: center;
    padding: 10px;
    color: #fff;
    text-decoration: none;

}
.leftsidebar {
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 10%;
    color: #a0a0a0;
    background-color: #121212;
    box-sizing: border-box;
}
.leftsidebar-playlists {
    display: flex;
    flex-direction: column;
    height: 88%;
    overflow-y: scroll;
    padding: 20px 30px;
}
.active {
    padding-left: 25px !important;
    margin-left: -30px;
    border-left: 5px solid #1db954;
}
.leftsidebar-playlists a {
    color: #a0a0a0;
    text-decoration: none;
    padding: 5px 0;
}
.leftsidebar-playlists a:visited {
    color: #a0a0a0;
}
.leftsidebar-playlists a:hover {
    color: #ffffff;
    transition: .2s;
}
.leftsidebar-playlists a:active {
    color: #1db954;
}
.leftsidebar-subtitle {
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 30px;
}
.leftsidebar-newplaylist {
    display: flex;
    align-items: center;
    height: 10%;
    border-top: 1px solid #181818;
    box-sizing: border-box;
}
.leftsidebar-newplaylist a {
    color: #a0a0a0;
    text-decoration: none;
}
.leftsidebar-newplaylist a:hover {
    color: #1db954;
    transition: .2s;
}
.leftsidebar-newplaylist img {
    height: 20px;
    width: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.maincontainer {
    display: flex;
    height: 87%;
}
.content {
    width: 80%;
    background-color: #181818;
    padding: 30px;
    background: linear-gradient(#3f3f3f, #181818 30%);
}
.content-title {
    color: #fff;
    height: 5%;

}
.content-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    height: 85%;
    justify-content: center;
    overflow-y: scroll;
}
.content-gallery img {
    height: 189px;
    padding: 10px 15px;
}
.content-gallery img:hover {
    opacity: .8;
    transition: .1s;
}
.rightsidebar {
    padding: 30px 20px;
    width: 10%;
    background-color: #121212;
    overflow-y: scroll;
    flex-shrink: 1;
    box-sizing: border-box;
}
.rightsidebar a{
    overflow: hidden;
    max-width: 15ch;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-decoration: none;
}
.rightsidebar a:hover {
    color: white;
    transition: .2s;
}
.rightsidebar-subtitle {
    color: #fff;
    font-weight: bold;
    font-size: 19px;
}
.rightsidebar-separator, .content-separator {
    border-color: #a0a0a0;
}
.rightsidebar-friendsname {
    font-weight: bold;
    color: #fff;
}
.rightsidebar-friendnowplaying {
    color: #a0a0a0;
}
.rightsidebar-friendnowplayingartist {
    font-style: italic;
    color: #a0a0a0;
}
.rightsidebar-friendcontainer {
    display: flex;
    flex-direction: row;
}
.rightsidebar-friendcontainer:not(:first-of-type) {
    padding-top: 45px;
}
.rightsidebar-friendcontainer:first-of-type {
    padding-top: 15px;
}
.rightsidebar-wrapper {
    display: flex;
    flex-direction: column;
    font-size: .8em;
}
.rightsidebar-imgwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.rightsidebar-friendsname, .rightsidebar-friendnowplaying, .rightsidebar-friendnowplayingartist {
    padding-left: 10px;
}
.rightsidebar-friendcontainer img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.footernav {
    background-color: #282828;
    display: flex;
    height: 8%;
    border-top: 1px solid #121212;
    box-sizing: border-box;
    overflow: hidden;
}
.album-mini {
    margin-left: 20px;
    align-self: center;
    height: 60px;
    width: 60px;
}
.footernav-nowplaying {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nowplayingartist, .nowplayingsong {
    margin-left: 10px;
}
.footernav-nowplaying a {
    text-decoration: none;
    font-size: 15px;
}
.nowplayingartist {
    color: white;
}
.nowplayingsong {
    color: #a0a0a0;
}
.footernav-audioplayer {
    align-self: center;
    margin: auto;
}



.newplaylist-window-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 1;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    color: #a0a0a0;
}
.newplaylist-window-background:target {
    opacity:1;
    pointer-events: auto;
}

.newplaylist-window {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    width: 700px;
    height: 550px;
    padding: 10px 10px;
    background: #2c2c2c;
}
.newplaylist-window-header {
    display: flex;
    height: 10%;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid #a0a0a0;
}
.newplaylist-window-headertitle {
    align-self: center;
    color: #ffffff;
    font-weight: bold;
}
.newplaylist-window-playlistname {
    height: 10%;
    padding: 0 10px;
    margin-top: 10px;
}
.newplaylist-window-playlistname p {
    margin: 0px;
}
.newplaylist-window-playlistname input[type=text] {
    width: 100%;
    color: #2c2c2c;
    height: 25px;
    padding: 10px;
    box-sizing: border-box;
}
.newplaylist-window-midcontainer {
    display: flex;
    flex-direction: row;
    height: 70%;
    padding: 0 10px;
    box-sizing: border-box;
}
.newplaylist-window-uploadimage {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 10px 0;
    background-color: #282828;
}
.newplaylist-window-uploadimage-container {
    display: flex;
    justify-content: center;
}
.newplaylist-window-uploadimage span {
    align-self: center;
}
.newplaylist-window-uploadimage-button {
    align-self: flex-end;
    position: absolute; 
}
.newplaylist-window-description {
    display: flex;
    flex-direction: column;
    width: 60%;
    box-sizing: border-box;
    margin: 10px 0 10px 10px;
    background-color: #282828;
}
.newplaylist-window-description input[type=text] {
    align-self: center;
    height: 90%;
    width: 95%;
    padding: 5px;
    box-sizing: border-box;
}
.newplaylist-window-description span {
    margin-left: 10px;
}
.newplaylist-window-footer {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.newplaylist-window-footer-buttoncreate {
    margin: 5px;
}
.newplaylist-window-footer-buttoncancel {
    margin: 5px;
}
/* Scroll styling */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #535353; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
/* media queries mobile popup
.newplaylist-window {
    display: flex;
    flex-direction: column;
    margin: 5% auto;
    width: 80%;
    height: 60%; */
/* Media queries FOR MODAL WINDOW PENDING*/
@media screen and (max-width: 1280px), (max-height: 800px){
.rightsidebar {
    display:none;
}
.leftsidebar {
    width: 20%; 
}
.leftsidebar-newplaylist img {
    display: none;
}
.leftsidebar-newplaylist {
    justify-content: center;
}
.leftsidebar-playlists {
    padding-left: 10px;
    padding-right: 5px;
}
.active {
    padding-left: 5px !important;
    margin-left: -10px;
    border-left: 5px solid #1db954;
}
@media only screen and (max-width : 480px), (max-height: 667px) {
.album-mini {
    height: 35px;
    width: 35px;
    margin-left: 10px;
}
.rightsidebar {
    display:none;
}
.footernav {
    height: 10%;
}
.footernav-nowplaying a {
    font-size: 10px;
}
.content-title {
    font-size: 15px;
    text-align: center;
    padding-bottom: 15px;
}
.leftsidebar {
    width: 30%;
}
.leftsidebar-playlists {
    font-size: 15px;
    padding-left: 5px;
    padding-right: 5px;
}
.content {
    width: 70%;
}
.content-gallery img {
    height: 140px;
    padding: 15px 15px;
}
.content-gallery {
    height: 80%;
}
.active {
    padding-left: 3px !important;
    margin-left: -5px;
    border-left: 2px solid #1db954;
}
.content-separator {
    margin: 5px;
}
.topnav {
    height: 10%;
}
.maincontainer {
    height: 80%;
}
.footernav-audioplayer {
    margin-left: 10px;
}
.player {
    width: 60px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}
@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}